                        Machine Learning with Python

 1. simple linear Regression

In [3]:
import pandas as pd 
df = pd.read_csv('ml_data_salary.csv')
df.head(3)

    age  distance  YearsExperience  Salary
0  31.1     77.75              1.1   39343
1  31.3     78.25              1.3   46205
2  31.5     78.75              1.5   37731

step-2 splitting data into traning data and testing data

In [4]:
X = df['YearsExperience']
y=df['Salary']

In [6]:
X.head()

0    1.1
1    1.3
2    1.5
3    2.0
4    2.2
Name: YearsExperience, dtype: float64

In [7]:
y.head()

0    39343
1    46205
2    37731
3    43525
4    39891
Name: Salary, dtype: int64