# **Employee Performance Prediction**

In [48]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline

In [49]:
df_train= pd.read_csv("train_dataset.csv")
df_test= pd.read_csv("test_dataset.csv")

pd.set_option('display.max_columns', None)
df_train.head()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,month,quarter_Quarter1,quarter_Quarter2,quarter_Quarter3,quarter_Quarter4,quarter_Quarter5,department_finishing,department_finishing,department_sweing,day_Monday,day_Saturday,day_Sunday,day_Thursday,day_Tuesday,day_Wednesday,actual_productivity
0,9,0.75,3.94,NaN,960,0,0.0,0,0,8.0,2,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0.755167
1,7,0.65,30.10,909.0,7080,0,0.0,0,1,59.0,2,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0.535678
2,3,0.80,4.15,NaN,1440,0,0.0,0,0,7.0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0.820833
3,1,0.65,22.53,762.0,5040,0,0.0,0,1,42.0,2,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0.581131
4,4,0.70,30.10,767.0,3300,50,0.0,0,1,57.0,2,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0.790003

In [22]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017 entries, 0 to 1016
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   team                   1017 non-null   int64
 1   targeted_productivity  1017 non-null   float64
 2   smv                    1017 non-null   float64
 3   wip                    594 non-null    float64
 4   over_time              1017 non-null   int64
 5   incentive              1017 non-null   int64
 6   idle_time              1017 non-null   float64
 7   idle_men               1017 non-null   int64
 8   no_of_style_change     1017 non-null   int64
 9   no_of_workers          1017 non-null   float64
 10  month                  1017 non-null   int64
 11  quarter_Quarter1       1017 non-null   int64
 12  quarter_Quarter2       1017 non-null   int64
 13  quarter_Quarter3       1017 non-null   int64
 14  quarter_Quarter4       1017 non-null   int64
 15  quarter_Quarter5       1017 non-null   int64
 16  department_finishing   1017 non-null   int64
 17  department_finishing   1017 non-null   int64
 18  department_sweing      1017 non-null   int64
 19  day_Monday             1017 non-null   int64
 20  day_Saturday           1017 non-null   int64
 21  day_Sunday             1017 non-null   int64
 22  day_Thursday           1017 non-null   int64
 23  day_Tuesday            1017 non-null   int64
 24  day_Wednesday          1017 non-null   int64
 25  actual_productivity    1017 non-null   float64
dtypes: float64(6), int64(20)
memory usage: 206.7 KB

In [40]:
df_train.isna().sum()*100/df_train.shape[0]

team                      0.00000
targeted_productivity     0.00000
smv                       0.00000
wip                      41.59292
over_time                 0.00000
incentive                 0.00000
idle_time                 0.00000
idle_men                  0.00000
no_of_style_change        0.00000
no_of_workers             0.00000
month                     0.00000
quarter_Quarter1          0.00000
quarter_Quarter2          0.00000
quarter_Quarter3          0.00000
quarter_Quarter4          0.00000
quarter_Quarter5          0.00000
department_finishing      0.00000
department_finishing      0.00000
department_sweing         0.00000
day_Monday                0.00000
day_Saturday              0.00000
day_Sunday                0.00000
day_Thursday              0.00000
day_Tuesday               0.00000
day_Wednesday             0.00000
actual_productivity       0.00000
dtype: float64

In [50]:
df_test.isna().sum()*100/df_train.shape[0]

team                     0.000000
targeted_productivity    0.000000
smv                      0.000000
wip                      8.161259
over_time                0.000000
incentive                0.000000
idle_time                0.000000
idle_men                 0.000000
no_of_style_change       0.000000
no_of_workers            0.000000
month                    0.000000
quarter_Quarter1         0.000000
quarter_Quarter2         0.000000
quarter_Quarter3         0.000000
quarter_Quarter4         0.000000
quarter_Quarter5         0.000000
department_finishing     0.000000
department_finishing     0.000000
department_sweing        0.000000
day_Monday               0.000000
day_Saturday             0.000000
day_Sunday               0.000000
day_Thursday             0.000000
day_Tuesday              0.000000
day_Wednesday            0.000000
dtype: float64

In [51]:
df_train["wip"]=df_train["wip"].fillna(df_train["wip"].mean()) 
df_test["wip"]=df_train["wip"].fillna(df_train["wip"].mean())

In [57]:
X= df_train.iloc[:,:-1]
y = df_train["actual_productivity"]

In [52]:
model1= LinearRegression()
model2 = KNeighborsRegressor(n_neighbors=5)

In [58]:
model1.fit(X,y)
model2.fit(X,y)

KNeighborsRegressor()

In [59]:
pred= model1.predict(df_test)

In [ ]:
R_square= r2_score(y, model1.predict(X))