In [2]:
import  pandas as pd 
import numpy as np 
import matplotlib.pylab as plt 
import seaborn as sns 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder

In [17]:
df = pd.read_csv('train.csv')
df.head(4)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000

### Data Cleaning

In [19]:
df.drop('Fence', axis=1, inplace=True)
df.head(4)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,0,2,2006,WD,Abnorml,140000

In [21]:
df.drop('PoolQC', axis=1, inplace=True)
df.head(4)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000

In [22]:
# finding null values in a data Set
df.isnull()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1456,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1457,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1459,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Determine if ANY Value in a Series is Missing

In [23]:
df.isnull().values.any()

True

In [24]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 77, dtype: int64

In [26]:
df.drop('LotFrontage', axis=1, inplace=True)

In [27]:
df.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 76, dtype: int64

Encoding Data

In [29]:
df.head(4)

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000

In [32]:
enc = LabelEncoder()
df.iloc[:,2] = enc.fit_transform(df.iloc[:,1])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_15868\2937898803.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,2] = enc.fit_transform(df.iloc[:,1])

In [33]:
df.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,5,5,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,0,0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,5,5,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,6,6,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,5,5,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [56]:
enc = LabelEncoder()
df.iloc[:,18] = enc.fit_transform(df.iloc[:,1])

In [57]:
df.head(4)

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,5,5,8450,5,5,5,5,5,5,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,0,0,9600,0,0,0,0,0,0,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,5,5,11250,5,5,5,5,5,5,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,6,6,9550,6,6,6,6,6,6,...,272,0,0,0,0,2,2006,WD,Abnorml,140000

In [58]:
df

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,5,5,8450,5,5,5,5,5,5,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,0,0,9600,0,0,0,0,0,0,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,5,5,11250,5,5,5,5,5,5,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,6,6,9550,6,6,6,6,6,6,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,5,5,14260,5,5,5,5,5,5,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,5,5,7917,5,5,5,5,5,5,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,0,0,13175,0,0,0,0,0,0,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,6,6,9042,6,6,6,6,6,6,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,0,0,9717,0,0,0,0,0,0,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,0,0,9937,0,0,0,0,0,0,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [61]:
enc = LabelEncoder()
df.iloc[:,17] = enc.fit_transform(df.iloc[:,17])

In [63]:
df

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,5,5,8450,5,5,5,5,5,5,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,0,0,9600,0,0,0,0,0,0,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,5,5,11250,5,5,5,5,5,5,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,6,6,9550,6,6,6,6,6,6,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,5,5,14260,5,5,5,5,5,5,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,5,5,7917,5,5,5,5,5,5,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,0,0,13175,0,0,0,0,0,0,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,6,6,9042,6,6,6,6,6,6,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,0,0,9717,0,0,0,0,0,0,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,0,0,9937,0,0,0,0,0,0,...,0,0,0,0,0,6,2008,WD,Normal,147500